<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="/static/Mytes.png" style="width:120px;height:100px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Logout Alert</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}}.</h5>

Thank you for choosing Tesla Coin. <br><br>

You just logged out of your account. Always keep your login details private, and secured. <br>

Your feedback on how we can improve our services to better meet your needs will help us provide a better experience for our clients <br>

Need help? Contact our 24/7 online customer care. Thank you for choosing us. <br> <br>


If this isn't you, kindly contact our support team to stop all activities going on immediately. <br>

Support Team, <br>
Support@tesxtla.org</span>
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

