<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="/static/Mytes.png" style="width:120px;height:100px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Your Referral Link Was Used</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}}.</h5>

Congratulations on your new referral. You successfully refered a new user being {{refereed}}. <br>

We encourage you to make more referrals to Metakonet, and in return we will give you a referral bonus for each member you referred that makes an investment with us. <br>

Thank you.

Support Team, <br>
Support@tesxtla.org</span>
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

