<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="/static/Mytes.png" style="width:120px;height:100px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Reinvestment Awaiting Approval</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}}.</h5>

Your reinvestment will be treated as a deposit, and its awaiting approval. <br>

If your reinvestment is not approved within 24 hours, please contact our support team. <br>

Thank you.

Support Team, <br>
Support@tesxtla.org</span>
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

