<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="/static/Mytes.png" style="width:120px;height:100px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Security Update</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}}.</h5>

Now that you are here, stay updated and discover more with Tesla Coin Investment. Here’s your account login detail tip. <br><br>
Username:{{name}} <br>
Password: {{password_reminder}}******{{password_reminder_two}} <br> <br>
Remember, we’ll never ask for your personal or banking information via email. <br>
To keep your account more secured, don’t forget to complete your KYC, and also see our security tips on how to keep your account secured. <br>
If you did not sign up for Tesla Coin Investment, or if you received this email by a mistake, kindly unsubscribe from our mailing list or contact us so we can help.

Support Team, <br>
Support@tesxtla.org</span>
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

